[submodule "ext/MemConnect"]
	path = ext/MemConnect
	url = git@github.com:AndreasGeyerTUD/MemConnect.git
[submodule "ext/DisaggDataDisciple"]
	path = ext/DisaggDataDisciple
	url = https://github.com/alexKrauseTUD/DisaggDataDisciple.git
